<%- include('./partials/header') -%>

<!-- Button modify later -->

<div class="row row-content mt-2 ml-3">
	<a class="btn btn-info p-3" href="/add/addCoordinator"><i class="fa fa-plus" aria-hidden="true"></i> Register New Coordinator</a>
</div>

<!-- End here -->

		<div class="container">
			<div class="row mt-5">
				<div class="col-12">
					<h1 class="text-center" style="font-size:300%;font-family:cursive;color:rgb(122, 24, 42)">Faculty Coordinators</h1>
				</div>
					<% for(coordinator of newCoordinators) {%> 
						<% if(coordinator.designation == 'Faculty'){%>
						<div class="col-8 offset-2 col-md-4 offset-md-4 my-5">
						<img class="rounded-circle mx-auto d-block border border-dark" src="/<%= coordinator?.filePath %>" style="width:100%;height:auto" type="image">
						<h3 class="text-center pt-3"><%= coordinator.name %></h3>
						<h4 class="text-center"><%= coordinator.area %> Sports</h4>
						<h4 class="text-center"><i class="fa fa-envelope fa-lg"></i> <%= coordinator.email %></h4>
					</div> <%} %>
					<%} %>
			</div>

			<div class="row mt-5">
				<div class="col-12">
					<h1 class="text-center" style="font-size:300%;font-family:cursive;color:rgb(122, 24, 42)">Student Coordinators</h1>
				</div>
					<% for(coordinator of newCoordinators) {%> 
						<% if(coordinator.designation == 'Student'){%>
						<div class="col-8 offset-2 col-md-4 offset-md-4 my-5">
						<img class="rounded-circle mx-auto d-block border border-dark" src="/<%= coordinator?.filePath %>" style="width:100%;height:auto" type="image">
						<h3 class="text-center pt-3"><%= coordinator.name %></h3>
						<h4 class="text-center"><%= coordinator.area %> Sports</h4>
						<h4 class="text-center"><i class="fa fa-envelope fa-lg"></i> <%= coordinator.email %></h4>
					</div> <%} %>
					<%} %>
			</div>
		</div>

<%- include('./partials/footer') -%>
<!-- <% if(true){ %>
	<h1>foo</h1>
 <% } %> -->